* {
  box-sizing: border-box;
}

:focus {
  outline: 3px dotted green;
  outline-offset: 3px;
}

:root {
  --text-color: rgba(51, 50, 61, 0.8);
  --title-color: #33323d;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Ibarra Real Nova", "Public Sans", "Arial", sans-serif;
  font-size: 12px;
  color: var(--text-color);
  background-color: #fafafa;
}

.button {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 16px 35px 16px 31px;
  border: 1px solid var(--title-color);
  letter-spacing: 2px;
  font-family: Public sans;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--title-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
}

.button:hover {
  color: #fff;
  background-color: var(--title-color);
}

.button:active {
  opacity: 0.6;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 20px;
}

.sitenav__link {
  display: inline-block;
  text-decoration: none;
}

/* SITE HEADER */

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 54px;
}

.site-header__logo-link {
  margin-right: 40px;
}

.logo-link {
  display: flex;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.logo-link__img {
  display: block;
  object-fit: contain;
}

.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 42px;
}

.sitenav__link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Public sans";
  line-height: 14px;
  letter-spacing: 2px;
  color: var(--title-color);
  transition: color 0.3s ease;
}

.active-item {
  color: #5fb4a2;
}

.sitenav__link:hover {
  opacity: 0.8;
}


/* MAIN CONTENT */

.main-content {
  flex-grow: 1;
}

.main-content__container {
  padding-bottom: 75px;
}

.main-content__hero {
  position: relative;
  margin-bottom: 75px;
}

.hero__img {
  display: block;
  width: 1110px;
  height: 600px;
}

.hero__block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 445px;
  padding-top: 56px;
  background-color: #fafafa;
}

.hero__title {
  max-width: 390px;
  margin-top: 0;
  margin-bottom: 53px;
  letter-spacing: -0.5px;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: var(--title-color);
}

.hero__button {
  position: relative;
  width: 200px;
  padding-left: 48px;
  padding-right: 0;
  padding-top: 17px;
  padding-bottom: 17px;
  border: 0;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Public Sans";
  color: #fff;
  background-color: #203a4c;
}

.hero__button:active {
  transform: translateY(2px);
}

.hero__button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(../img/hero-btn.svg);
  background-repeat: no-repeat;
  background-position: 16px 18px;
}

.hero__button:hover {
  opacity: 0.8;
}


/* ABOUT ME */
.main-content__about {
  display: flex;
  padding-top: 75px;
  padding-bottom: 75px;
}

.about__img {
  display: block;
  width: 540px;
  height: 600px;
  object-fit: cover;
  margin-right: 125px;
}

.about__link {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about__block {
  width: 100%;
  max-width: 350px;
  padding-top: 50px;
  padding-bottom: 46px;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.about__title {
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.4;
  flex-grow: 1;
  color: var(--title-color);
}

.about__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-family: "Public sans";
}


/* FOOTER */

.main-content__interest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 75px;
}


.main-content__interest::before {
  width: 100%;
  height: 1px;
  margin-top: 14px;
  background-color: rgba(51, 50, 61, 0.15);
  content: "";
}

.interest__title {
  order: -1;
  width: 100%;
  max-width: 350px;
  margin: 0;
  margin-right: 32px;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.4px;
  color: var(--title-color);
}

.interest__link {
  margin-left: 32px;
}


/* FOOTER BOTTOM */

.site-footer__wrapper {
  background-color: #33323d;
}

.site-footer__container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  flex-grow: 1;
}

.site-footer__logo-link {
  display: flex;
  margin-right: 48px;
}

.site-footer__sitenav {
  margin-right: auto;
}

footer .sitenav__link {
  display: inline-block;
  color: #fff;
}

.site-footer__logo-link:not(:last-child) {
  margin-right: 16px;
}

.site-footer__addres {
  display: flex;
  align-items: center;
}

.site-footer__logo-link {
  display: inline-flex;
  color: #fff;
  transition: color 0.3s ease;
}

.site-footer__logo-link:hover {
  color: #5fb4a2;
}


/* PORTFOLIO INDEX */

.main-content__feature {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 95px;
}

.feature-last {
  padding-bottom: 75px;
}

.feature__block-img {
  width: 540px;
  height: 500px;
  padding: 50px 54px 0;
  background-color: transparent;
  overflow: hidden;
  flex-shrink: 0;
}

.manage-img-block {
  background-color: #ffefec;
}

.bookmark-img-block {
  background-color: #4f63d8;
}

.insure-img-block {
  background-color: #9A99AB;
}

.fylo-img-block {
  background-color: #41b4d3;
}

.main-content__feature:nth-child(2n) {
  padding-left: 95px;
  padding-right: 0;
  display: flex;
  flex-direction: row-reverse;
}


.manage-img {
  box-shadow: 0px 2px 46px 0px #F3603C19;
}

.bookmark-img {
  box-shadow: 20px 20px 0px 0px #00000026;
}

.feature__content {
  width: 350px;
  padding-top: 103px;
  padding-bottom: 103px;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.feature__title {
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  flex-grow: 1;
  letter-spacing: -0.4px;
  color: var(--title-color);
}

.feature__text {
  max-width: 310px;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 30px;
  font-family: Public sasn;
}


/* MANAGE BLOCK */

.main-content__manage-hero {
  padding-top: 40px;
  padding-bottom: 40px;
}

.manage-hero__img{
  width: 1110px;
  height: 500px;
  object-fit: cover;
}

.main-content__project {
  display: flex;
  align-items: flex-start;
  padding-top: 71px;
  padding-bottom: 24px;
}

.project__content-block {
  width: 100%;
  max-width: 350px;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-right: 125px;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.content-block__title {
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.4px;
  flex-grow: 1;
  color: var(--title-color);
}

.content-block__text {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.1px;
  font-family: "Public sans";
}

.content-block__links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.content-block__links span:first-child {
  display: inline-block;
  margin-bottom: 16px;
}

.content-block__link {
  display: inline-block;
  text-decoration: none;
  color: #5fb4a2;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  font-family: "Public sans";
  white-space: nowrap;
}

.project__feature-block {
  width: 100%;
  max-width: 635px;
}

.feature-block__title {
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  color: var(--title-color);
}

.feature-block__text {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Public sans";
  font-size: 15px;
  line-height: 30px;
}

.feature-block__text span {
  display: inline-block;
  text-decoration: underline;
}

.feature-block__heading {
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  color: var(--title-color);
}

.feature-block__img {
  display: block;
  width: 635px;
  height: 400px;
  object-fit: cover;
}

.feature-block-img-last {
  margin-bottom: 35px;
}

.project__binder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.binder__link {
  position: relative;
  display: inline-flex;
  width: 50%;
  height: 130px;
  text-decoration: none;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.5px;
  color: var(--title-color);
}

.binder__link-retangle {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: 57px;
  margin-right: 27px;
  align-items: center;
  border-top: 2px solid var(--title-color);
  border-left: 2px solid var(--title-color);
  transform: rotate(-45deg);
}

.binder__link-retangle-right {
  margin-right: 0;
  border: 0;
  margin-left: 26px;
  border-top: 2px solid var(--title-color);
  border-right: 2px solid var(--title-color);
  transform: rotate(45deg);
}

.binder__link:last-child {
  flex-direction: row-reverse;
  text-align: end;
  justify-content: end;
  border-left: 1px solid rgba(51, 50, 61, 0.15);
}

.binder__link::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 130px;
}

.binder__link-title {
  display: inline-block;
  padding-top: 32px;
}

.binder__sign {
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-family: "Public sans";
  color: var(--text-color);
  opacity: 0.5;
}


/* CONTACT ME */

.main-content__info {
  display: flex;
  padding-top: 48px;
  padding-bottom: 48px;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
}

.info__title {
  width: 100%;
  max-width: 350px;
  margin: 0;
  margin-right: 20px;
  flex-grow: 1;
  font-weight: 700;
  font-size: 40px;
  white-space: nowrap;
  line-height: 42px;
  letter-spacing: -0.4px;
  color: var(--title-color);
}

.info__block {
  width: 100%;
  max-width: 635px;
}

.info__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Public sans";
  font-size: 16px;
  line-height: 30px;
}

.info__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.info__item:not(:last-child) {
  margin-right: 16px;
}

.info__logo-link {
  display: inline-flex;
  color: var(--title-color);
  transition: color 0.3s ease;
}

.info__logo-link:hover {
  color: #5fb4a2;
}

/* CONTACT FORM */
.main-content__contact {
  display: flex;
  padding-top: 47px;
  padding-bottom: 34px;
  align-items: flex-start;
  justify-content: space-between;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 635px;
  align-items: flex-start;
}

.contact__input-wrapper {
  position: relative;
  width: 100%;
}

.contact__error-name {
  position: absolute;
  top: 90px;
  left: 0;
}

.contact__name-input:focus:invalid {
  border: 1px solid red;
}

.contact__input-email-wrapper {
  position: relative;
  width: 100%;
}

.contact__error-email {
  position: absolute;
  top: 90px;
  left: 0;
}

.contact__input-textarea-wrapper {
  position: relative;
}

.contact__name-label {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  font-family: "Public sans";
}

.contact__error-info {
  display: inline-block;
  white-space: nowrap;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #f43030;
  font-style: italic;
  font-family: "Public sans";
}

.error-message {
  display: none;
}

.contact__error-textarea {
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
}

.input-global-style {
  width: 100%;
  padding: 9px 16px;
  margin-bottom: 24px;
  background-color: rgba(51, 50, 61, 0.1);
  border: 0;
  font-family: "Public sans";
  font-size: 13px;
  line-height: 30px;
  color: var(--title-color);
}

.contact__name-input:not(:focus):not(:placeholder-shown):valid {
  border-color: #5fb4a2;
}

.contact__name-input:focus:required:invalid ~ .error-message {
  display: block;
}

.contact__name-input:required {
  box-shadow: none;
}

.contact__email-input:not(:focus):not(:placeholder-shown):invalid {
  border-color: #f43030;
}

.contact__textarea:not(:focus):not(:placeholder-shown):valid {
  border-color: #5fb4a2;
}

.contact__email-input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
  display: block;
  border-color: #f43030;
}

.contact__email-input:focus {
  border-color: #f43030;
}

.contact__email-input:focus:required:invalid ~ .error-message {
  display: block;
}

textarea:focus:required:invalid ~ .error-message {
  display: block;
}

.input-global-style::placeholder {
  font-size: 13px;
  line-height: 30px;
  opacity: 0.4;
  font-family: "Public sans";
}

.contact__name-input {
  border: 1px solid transparent;

}

.contact__email-input {
  border: 1px solid transparent;
}

.contact__textarea {
  max-width: 635px;
  min-width: 635px;
  min-height: 72px;
  padding: 9px 16px;
  margin-bottom: 24px;
  border: 0;
  border: 1px solid transparent;
  font-family: "Public sans";
  font-size: 13px;
  line-height: 30px;
  color: var(--title-color);
  background-color: rgba(51, 50, 61, 0.1);
  overflow: hidden;
}

.contact__textarea::placeholder {
  color: var(--tite-color);
  opacity: 0.4;
}

.contact__textarea:focus:invalid {
  border-color: #f43030;
}

.contact__button {
  color: #fff;
  background-color: var(--title-color);
  cursor: pointer;
}

.contact__button:hover {
  color: var(--title-color);
  background-color: #fff;
}