* {
  box-sizing: border-box;
}

:focus {
  outline: 2px solid green;
  outline-offset: 2px;
}

:root {
  --text-color: rgba(51, 50, 61, 0.8);
  --title-color: #33323d;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Ibarra Real Nova", "Public Sans", "Arial", sans-serif;
  font-size: 12px;
  color: var(--text-color);
  background-color: #fafafa;
}

.button {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 16px 35px 16px 31px;
  border: 1px solid var(--title-color);
  letter-spacing: 2px;
  font-family: Public sans;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--title-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
}

.button:hover {
  color: #fff;
  background-color: var(--title-color);
}

.button:active {
  opacity: 0.6;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


/* SITE HEADER */

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 54px;
}

.site-header__logo-link {
  margin-right: 40px;
}

.logo-link {
  display: flex;
}

.logo-link__img {
  display: block;
  object-fit: contain;
}

.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 42px;
}

.sitenav__link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Public sans";
  line-height: 14px;
  letter-spacing: 2px;
  color: var(--title-color);
  transition: color 0.3s ease;
}

.sitenav__link:hover {
  color: tomato;
}

.js-sitenav-link {
  color: #5fb4a2;
}


/* MAIN CONTENT */

.main-content {
  flex-grow: 1;
}

.main-content__container {
  padding-bottom: 110px;
}

.main-content__hero {
  padding-top: 243px;
  background-image: url(../img/Bitmap.jpg);
  background-repeat: no-repeat;
  background-size: 1110px 600px;
}

.hero__block {
  width: 445px;
  padding-top: 56px;
  background-color: #fafafa;
}

.hero__title {
  max-width: 390px;
  margin-top: 0;
  margin-bottom: 53px;
  letter-spacing: -0.5px;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: var(--title-color);
}

.hero__button {
  position: relative;
  width: 200px;
  padding-left: 48px;
  padding-right: 0;
  border: 0;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Public Sans";
  color: #fff;
  background-color: #203a4c;
}

.hero__button:active {
  transform: translateY(2px);
}

.hero__button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(../img/hero-btn.svg);
  background-repeat: no-repeat;
  background-position: 16px 18px;
}

.hero__button:hover {
  opacity: 0.8;
}


/* ABOUT ME */
.main-content__about {
  display: flex;
  padding-top: 150px;
  padding-bottom: 40px;
}

.about__img {
  width: 540px;
  height: 600px;
  object-fit: cover;
  margin-right: 125px;
}

.about__link {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about__block {
  width: 350px;
  padding-top: 50px;
  padding-bottom: 46px;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.about__title {
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.4;
  flex-grow: 1;
  color: var(--title-color);
}

.about__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-family: "Public sans";
}


/* FOOTER */

.site-footer__footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 150px;
}

.footer-top__title {
  max-width: 350px;
  margin: 0;
  margin-right: 32px;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.4;
  color: var(--title-color);
}

.footer-top__link {
  position: relative;
  margin-left: 32px;
}

.footer-top__link::before {
  position: absolute;
  top: 30px;
  left: -566px;
  width: 534px;
  height: 1px;
  background-color: rgba(51, 50, 61, 0.15);
  content: "";
}


/* FOOTER BOTTOM */

.site-footer__footer-bottom {
  background-color: #33323d;
}

.footer-bottom__container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  flex-grow: 1;
}

.site-footer__logo-link {
  display: flex;
  margin-right: 48px;
}

.footer-bottom__sitenav {
  margin-right: auto;
}

footer .sitenav__link {
  display: inline-block;
  color: #fff;
}

.footer-bottom__logo-link:not(:last-child) {
  margin-right: 16px;
}

.footer-bottom__addres {
  display: flex;
  align-items: center;
}

.footer-bottom__logo-link {
  display: inline-flex;
  color: #fff;
  transition: color 0.3s ease;
}

.footer-bottom__logo-link:hover {
  color: tomato;
}


/* PORTFOLIO INDEX */

.main-content__feature {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 95px;
}

.feature__block-img {
  width: 540px;
  height: 500px;
  padding: 50px 54px 0;
  background-color: transparent;
  overflow: hidden;
  flex-shrink: 0;
}

.manage-img-block {
  background-color: #ffefec;
}

.bookmark-img-block {
  background-color: #4f63d8;
}

.insure-img-block {
  background-color: #9A99AB;
}

.fylo-img-block {
  background-color: #41b4d3;
}

.main-content__feature:nth-child(2n) {
  padding-left: 95px;
  padding-right: 0;
  display: flex;
  flex-direction: row-reverse;
}


.manage-img {
  box-shadow: 0px 2px 46px 0px #F3603C19;
}

.bookmark-img {
  box-shadow: 20px 20px 0px 0px #00000026;
}

.insure-img {

}

.feature__content {
  width: 350px;
  padding-top: 103px;
  padding-bottom: 103px;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.feature__title {
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  flex-grow: 1;
  letter-spacing: -0.4px;
  color: var(--title-color);
}

.feature__text {
  max-width: 310px;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 30px;
  font-family: Public sasn;
}
